<div class="search-header">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        
        <form>
          <p class="lead">Search for a tv show</p>
          
          <div class="input-group">
            <input type="text" class="form-control input-md" ng-model="name" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-md btn-primary pull-right"   ng-click="search()">
                search
              </button>
            </span>
          </div>
          <!-- ng-show needs you to specify if statement -->
          <p ng-show="shows.length === 0">
            <em>No results found</em>
          </p>
        </form>
        
        <!-- ng-if to display more results if there are more -->
        <div ng-if="shows.alternatives.length"  class="more-results-block">
          <p>
            More results:
            <hr/>
          </p>
          <div>
            <p ng-repeat="alt in shows.alternatives">
              <a style="cursor: pointer" class="h5" ng-click="shows.main = alt">
                <!-- ng-click="shows.main = alt" changes the image -->
                {{alt.name}}
              </a>
            </p>
          </div>
        </div>
        
      </div>
      
      <div class="col-md-1"></div>
      
      <!-- 'show' has to match up with scope variable in search.controller.js -->
      <div show-preview show="shows.main"><!-- matches with showPreview (angular takes care of the dash for you)-->
        
      </div>
      
    </div>
  </div>
</div>